<launch>
  <include file="$(find msd_pose_estimation)/launch/serial_launch.launch"/>  
  <include file="$(find msd_pose_estimation)/launch/imu_filter.launch" />
  <!-- <include file="$(find msd_pose_estimation)/launch/teleop.launch" /> -->

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_local">
    <rosparam command="load" file="$(find msd_pose_estimation)/config/ekf_localization_config.yaml" />
    <remap from="/odometry/filtered" to="/odometry/filtered" />
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0"/>
    <param name="tf_prefix" value=""/>
  </node>

  <!-- <include file="$(find msd_pose_estimation)/launch/rviz_launch.launch" /> -->
</launch>
