<launch>
    <arg name="model" default="$(find msd_pose_estimation)/urdf/irbot.urdf.xacro"/>
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    <arg name="rvizconfig" default="$(find msd_pose_estimation)/rviz/pose_estimation.rviz" />
   <!-- <param name="map_frame"  value="$(arg set_map_frame)"/> -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>
  
